* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: url(./assets/images/bg.jpg) no-repeat center center;
  background-size: cover;
}

li {
  list-style: none;
}

@font-face {
  font-family: electronicFont;
  src: url(./assets/font/DS-DIGIT.TTF);
}
